@tailwind base;
@tailwind components;
@tailwind utilities;

/* Home page */
.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 2rem;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

/* board */

.boardContaienr {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 2rem;
}

.inputBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;

  gap: 1rem;
  width: 100%;
  max-width: 200px;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
